<div style="border: 1px solid grey; border-radius: 30px; padding: 50px; margin-top: 50px; margin-bottom: 50px;" class="container">
    <h3>Editar Cliente</h3>
    <form>
        <div class="form-group">
            <label for="editarCliente">Seleccionar Cliente:</label>
            <select class="form-control" id="editarCliente">
                <!-- Aquí se cargarán los nombres de los clientes desde la lista temporal -->
            </select>
        </div>

        <div class="row">
            <!-- Primera columna -->
            <div class="col-md-6">
                <div class="form-group mt-3">
                    <label for="nuevoNombre">Nombre:</label>
                    <input type="text" class="form-control" id="nuevoNombre" placeholder="Nombre del Cliente">
                </div>
                <div class="form-group mt-3">
                    <label for="nuevoApellido">Apellido:</label>
                    <input type="text" class="form-control" id="nuevoApellido" placeholder="Apellido del Cliente">
                </div>
                <div class="form-group mt-3">
                    <label for="nuevoTipoDocumento">Tipo de Documento:</label>
                    <select class="form-control" id="nuevoTipoDocumento">
                        <option value="dni">DNI</option>
                        <option value="dni">CUIL</option>
                        <option value="dni">CUIT</option>
                    </select>
                </div>
                <div class="form-group mt-3">
                    <label for="nuevoNumeroDocumento">Número de Documento:</label>
                    <input type="text" class="form-control" id="nuevoNumeroDocumento" placeholder="Número de Documento">
                </div>
            </div>

            <!-- Segunda columna -->
            <div class="col-md-6">
                <div class="form-group mt-3">
                    <label for="nuevoTelefono">Teléfono:</label>
                    <input type="tel" class="form-control" id="nuevoTelefono" placeholder="Teléfono del Cliente">
                </div>
                <div class="form-group mt-3">
                    <label for="nuevoMail">Email:</label>
                    <input type="email" class="form-control" id="nuevoMail" placeholder="Email del Cliente">
                </div>
                <div class="form-group mt-3">
                    <label for="nuevaCategoriaFiscal">Categoría Fiscal:</label>
                    <select class="form-control" id="nuevaCategoriaFiscal">
                        <option value="Monotributista">Monotributista</option>
                        <option value="ResponsableInscripto">Responsable Inscripto</option>
                    </select>
                </div>
                <div class="form-group mt-3" id="categoriaMonotributista">
                    <label for="nuevaCategoriaMonotributista">Categoría Monotributista:</label>
                    <select class="form-control" id="nuevaCategoriaMonotributista">
                        <option value="A">A</option>
                        <option value="B">B</option>
                        <option value="C">C</option>
                        <option value="D">D</option>
                        <option value="E">E</option>
                        <option value="F">F</option>
                        <option value="G">G</option>
                        <option value="H">H</option>
                        <option value="I">I</option>
                        <option value="J">J</option>
                        <option value="K">K</option>
                    </select>
                </div>
            </div>
        </div>
        <button type="button" class="btn btn-warning text-white mt-3" id="editarClienteBtn">Guardar Cambios</button>
    </form>
</div>